{{- $firstHost := first .Values.ingress.hosts -}}
{{- $firstPath := (first $firstHost.paths).path -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "geoserver.fullname" . }}
data:
  {{- with .Values.config.jvm }}            
  {{- if .JAVA_OPTS }}
  JAVA_OPTS: {{ .JAVA_OPTS | quote }}
  {{- end }}
  {{- if .CATALINA_OPTS }}
  CATALINA_OPTS: {{ .CATALINA_OPTS | quote }}
  {{- end }}
  {{- if .GEOSERVER_OPTS }}
  GEOSERVER_OPTS: {{ .GEOSERVER_OPTS | quote }}
  {{- end }}
  {{- end }}
  # TODO: Adicionar suporte a TLS, para selecionar http ou https, via ingress
  PROXY_BASE_URL: {{ .Values.config.proxyBaseURL | default (cat "http://" $firstHost.host $firstPath | replace " " "") }}        
  {{- if .Values.config.data.enabled }}
  # Geoserver extra volume
  GEOSERVER_DATA_DIR: {{ .Values.config.data.mountPath }}
  {{- end }}
  {{- if .Values.config.gwc.cacheDir }}
  # Geowebcache extra volume
  GEOWEBCACHE_CACHE_DIR: {{ .Values.config.gwc.cacheDir }}
  {{- end }}
  GEOSERVER_CONSOLE_DISABLED: {{ .Values.config.console.disabled | toString | lower | quote  }}
  # CSRF
  GEOSERVER_CSRF_DISABLED: {{ .Values.config.csrf.disabled | toString | lower | quote  }}  
  {{- if not (empty .Values.config.csrf.whitelist) }}
  GEOSERVER_CSRF_WHITELIST: {{ ( join "," .Values.config.csrf.whitelist ) | quote }}
  {{- end }}
  # Marlin Renderer
  GEOSERVER_DISABLE_MARLIN: {{ .Values.config.marlinRenderer.disabled | toString | lower | quote  }} 
  {{- if .Values.config.appSchema.propertiesFile }}
  # AppSchema plugin (GeoSciML, WaterML)
  GEOSERVER_APPSCHEMA_PROPERTIES_FILE: {{ .Values.config.appSchema.propertiesFile }}
  {{- end }}
  # CORS
  GEOSERVER_CORS_ALLOWED_ORIGINS: {{ ( join "," .Values.config.cors.allowedOrigins ) | quote  }}
  {{- if .Values.config.contextPath }}
  GEOSERVER_CONTEXT_PATH: {{ .Values.config.contextPath }}
  {{- end }}
  # cluster
  CLUSTER_CONFIG_READONLY: {{ (ternary "enabled" "disabled" .Values.config.cluster.readonly) | quote }}
  CLUSTER_CONFIG_DURABLE: {{ .Values.config.cluster.durable | quote }}
  CLUSTER_CONFIG_BROKER_URL: {{ .Values.config.cluster.brokerURL }}
  CLUSTER_CONFIG_EMBEDDED_BROKER: {{ (ternary "enabled" "disabled" .Values.config.cluster.embeddedBroker) | quote }}
  CLUSTER_CONFIG_CONNECTION_RETRY: "{{ .Values.config.cluster.connection.retry }}"
  CLUSTER_CONFIG_TOGGLE_MASTER: {{ .Values.config.cluster.toggleMaster | quote }}
  CLUSTER_CONFIG_CONNECTION: {{ .Values.config.cluster.connection.enabled | quote }}
  CLUSTER_CONFIG_TOGGLE_SLAVE: {{ .Values.config.cluster.toggleSlave | quote }}
  CLUSTER_CONFIG_CONNECTION_MAXWAIT: "{{ .Values.config.cluster.connection.maxWait }}"
