{{- if and .Values.config.data.enabled (not .Values.stateful) -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ printf "%s-data" ( include "geoserver.fullname" . ) }}
  labels:
    {{- include "geoserver.labels" . | nindent 4 }}
  {{- if .Values.config.data.keep }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
spec:
  volumeMode: Filesystem
  {{- if .Values.config.data.volumeName }}
  volumeName: {{ .Values.config.data.volumeName | quote }}
  {{- end }}
  accessModes:
    {{- range .Values.config.data.storage.accessModes }}
    - {{ . }}
    {{- end }}
    {{-  if and (not .Values.config.data.volumeName ) .Values.config.data.storage.className }}
  storageClassName: {{ .Values.config.data.storage.className | quote }}
  resources:
    requests:
      storage: {{ .Values.config.data.storage.size }}
{{- end }}